/* 
    Created on : 6 de set de 2021, 15:09:05
    Author     : andre
*/
#rodape{
    width:100%; 
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background-color: #15095e;
    text-align: center;
    border-top: 1px solid #d9d9d9;
    padding: 10px;
    margin-top: 10px;
}

