<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Programa Trilhas</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="./assets/css/header.css" type="text/css"/>
        <link rel="stylesheet" href="./assets/css/footer.css" type="text/css"/>
        <link rel="stylesheet" href="./assets/css/contact.css" type="text/css"/>
        <script type="text/javascript" src="./assets/js/Jquery.js"></script>
        <script type="text/javascript" src="./assets/js/contact.js"></script>
      
    </head>
    <body>

 
        <!-- HEADER -->    
          <header>  
            <div id="top">
                <p class="bi bi-whatsapp"> (99)98105-1777 </p>
                <p class="bi bi-envelope-fill"> nobloko80@gmail.com</p>
                <a id="redes" href="https://www.facebook.com/andreluis.pereiradesoisa/" target="_blank"  class="bi bi-facebook"></a>
                <a href="https://www.instagram.com/andreluis.pereir/" target="_blank" class="bi bi-instagram"></a>
                <a href="https://github.com/Rudz1" target="_blank" class="bi bi-github"></a>
            </div>
            <a href="/"><img class="logo" src="./media/images/logo.jpg" alt=""></a>
            <div class="header">

            <div class="header-right">
                <a href="/">Home</a>
                <a href="./pontos-turisticos.html">Pontos Turisticos</a>
                <a href="./cultura.html">Cultura</a>
                <a class="active" href="./contato.html">Contato</a>
            </div>
            </div>
             </header>
        <!-- CONTACT -->   
        <section id="form">
            <form name="meu_form">

                <h1>Entre em contato</h1>
            
                <input type="text" id="nomeid" placeholder="Seu nome" required="required" name="nome" />
                <label for="nome">Nome</label>
            
                <input type="email" id="emailid" placeholder="exemplo@mail.com" name="email" />
                <label for="email">Email</label>
            
                <textarea placeholder="Deixe sua opnião"></textarea>
            
                <input type="submit" class="enviar" onclick="Enviar();" value="Enviar" />
                
            </form>
        </section
     

        <!-- FOOTER -->
        <footer id="rodape">  

            <section>
                <p>Todos os direitos reservados  -  André Luis Pereira</p> 
            </section>

        </footer>

    </body>
</html>

