<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Programa Trilhas</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="./assets/css/header.css" type="text/css"/>
        <link rel="stylesheet" href="./assets/css/slide.css" type="text/css"/>
        <link rel="stylesheet" href="./assets/css/footer.css" type="text/css"/>
        <link rel="stylesheet" href="./assets/css/content.css" type="text/css"/>
        <!--SCRIPTS-->
        <script type="text/javascript" src="./assets/js/router.js"></script>
        <script type="text/javascript" src="./assets/js/Jquery.js"></script>
        <script type="text/javascript" src="./assets/js/slide.js"></script>
       
    </head>
    <body>

 
        <!-- HEADER -->    
          <header>  
            <div id="top">
                <p class="bi bi-whatsapp"> (99)98105-1777 </p>
                <p class="bi bi-envelope-fill"> nobloko80@gmail.com</p>
                <a id="redes" href="https://www.facebook.com/andreluis.pereiradesoisa/" target="_blank"  class="bi bi-facebook"></a>
                <a href="https://www.instagram.com/andreluis.pereir/" target="_blank" class="bi bi-instagram"></a>
                <a href="https://github.com/Rudz1" target="_blank" class="bi bi-github"></a>
            </div>
            <a href="/"><img class="logo" src="./media/images/logo.jpg" alt=""></a>
            <div class="header">
        
            <div class="header-right">
                <a href="/">Home</a>
                <a href="./pontos-turisticos.html">Pontos Turisticos</a>
                <a class="active" href="./cultura.html">Cultura</a>
                <a href="./contato.html">Contato</a>
            </div>
            </div>
             </header>
  
        

        <!-- CONTENT -->
        <section id="content_culture">
 
           <img class="image_top_culture" src="./media/images/cultura.jpg" alt="">  
        
          <div class="text_culture">
            <h2>Bumba-Meu-Boi</h2>
            <img class="image_culture" src="./media/images/bumbameuboi.jpg.jpg" alt="">
            <p>
              
              Num espetáculo de cores, danças e ritmos, o Bumba-Meu-Boi é a expressão máxima da cultura popular do Maranhão. Elevado a Patrimônio Imaterial do povo brasileiro, a manifestação tem origens indefinidas, mas elementos culturais africanos e europeus, introduzidos 
              principalmente por meio da religiosidade, são evidentes. Nas comunidades que fazem a brincadeira, as celebrações e o trabalho em torno da festa duram praticamente o ano inteiro. Um dos desafios é preparar o couro do boi, revestimento de camurça belamente decorado 
              com canutilhos que recobrem o corpo do animal, pois é de bom tom que este seja renovado a cada temporada. Mas é durante os festejos juninos que ele reina absoluto, arrastando multidões e encantando quem assiste pela primeira vez suas apresentações.</p>
          </div>
          
       

          <div class="text_culture">
            <h2>Tambor de Crioula</h2>
            <p>
              <img class="image_culture" src="./media/images/tambordecrioula.jpg" alt="">
              Manifestação de raízes africanas que só existe no Maranhão, o Tambor de Crioula foi reconhecido em 2011 como Patrimônio Imaterial Brasileiro. Alegre, sensual e irreverente, pode ser apreciado ao ar livre, nas praças, casas e interior de terreiros por todo o Maranhão, mas sobretudo em São Luís.
              Não tem uma época fixa de apresentação, mas pode-se observar uma concentração maior nos períodos que correspondem ao Carnaval, às festas de São João e a partir do 2° sábado de agosto, quando ocorrem também as rodas de Bumba-Boi. Os tocadores e coureiras, como são chamadas as dançarinas do Tambor, ganham as ruas espalhando animação e muito ritmo.
              </p>
          </div>
                    
            <div class="text_culture">
              <h2>Festa do Divino</h2>
              <p>
                <img class="image_culture" src="./media/images/festa-do-divino.jpg" alt="">
                Comemorada, durante todo o mês de maio, desde os tempos coloniais, a Festa do Divino Espírito Santo é uma curiosa mistura de devoção ao Divino com homenagens ao Império. O “imperador” e sua corte, representada em trajes típicos, visitam as casas dos festeiros.
                Os cortejos populares percorrem as ruas da cidade entoando cânticos até chegar à casa do Imperador, que recebe as homenagens com uma dança peculiar, entoando cantigas de louvor ao Divino ao toque das caixeiras. Ao final, são servidos bebidas e doces para a população que participa da festa. A festa do Divino é celebrada em todo o Maranhão, principalmente em Alcântara e São Luís.
                Na cidade de Alcântara, os quilombolas encontravam refúgio para manter “quase que intactos” seus hábitos e crenças.</p>
            </div>


            <div class="text_culture">
              <h2>Dança do Lelê</h2>
              <p>
                <img class="image_culture" src="./media/images/danca-do-lele.jpg" alt="">
                A Dança do Lelê guarda em muitas de suas características os traços das danças de salão trazidas para o Brasil pelos povos ibéricos no século XIX. Trata-se de uma dança de salão profana, mas que costuma ser dançada em honra de determinados santos, ao longo do ano.
                Encontrada no Maranhão, na região do Munim, particularmente nos municípios de Rosário (povoado de São Simão) e Axixá, a Dança do Lelê é também conhecida também como Dança do Péla (péla Porco), associada a um costume antigo de pessoas que se reuniam para matar galinhas e pelar porcos, o que garantia o alimento do dia posterior à festa.  
              </p>
            </div>
            
            <div class="fontes">
              <p>Fontes: <a href="https://www.facebook.com/portalculturamaranhense/" target="_blank">portal cultura maranhense</a> --
                         <a href="https://www.turismo.ma.gov.br/cultura-e-festas-populares/" target="_blank">secretaria de estado e cultura</a></p>
            </div>
        </section>
        
        <!-- FOOTER -->
        <footer id="rodape">  

            <section>
                <p>Todos os direitos reservados  -  André Luis Pereira</p> 
            </section>

        </footer>

    </body>
</html>

